@page "/weeklyforecast"
@using Data;
@inject WeatherForecastService ForecastService

<div class="d-flex">
    @if (forecasts == null)
    {
        <span>No Data</span>
    }
    else
    {
        @* @foreach (var item in Enumerable.Range(1, 5)) *@
        @foreach (var forecast in forecasts)
        {
            <WeatherDay
                TemperatureC="forecast.TemperatureC"
                Summary="@forecast.Summary"
                DayOfWeek="forecast.Date"
                OnSelected="HandleItemSelected"
                Selected="forecast.Selected">
                <CustomMessage>
                    @if (forecast.Summary == "Rainy")
                    {
                        <div class="alert alert-danger">
                            Tornado Warning!
                        </div>
                    }
                </CustomMessage>
            </WeatherDay>
        }
    }
</div>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
    
    void HandleItemSelected(DateOnly SelectedValue)
    {
        foreach (var item in forecasts)
        {
            item.Selected = false;
        }
        
        forecasts.First(f => f.Date == SelectedValue).Selected = true;
    }
}